//sass --watch assets/scss/style.scss:assets/scss/style.css

.logo {
    height: 120px;
    width: 260px;
    padding-top:10px; 
}
.titulo {
    color:#212d78;
    font-size:14pt;
    float: right; 
    padding: 43px;
}
.container-titulo{
     padding-top:20px; 
}
nav {

    background-color:#212d78;
    height: 50px; 
    padding: 10px;
    color: white;
    font-size:16pt; 

}
.hora {
    height: 25px;
    /* background-color: blueviolet; */
    text-align: left;
    color: black;   
}
.general{   
}
main{
    height: 400px;
    /* background-color:red; */
    text-align: center; 
    padding-top:30px;
    border-left: 1px solid #dadada; 
    margin-top: 20px;
    
}
.ban3 {
    width: 672px;
    height: 335px;
}
aside{   
    // background-color:#3E7820;
    height:600px; 
    border-color:#6C7678;
    // border-radius: 20px;
    margin-top: 30px;
}
.box1{
 
    height: 280px;
    border: 6px color #929AA5;
    background-color: #f5f5f5 ;
    margin: 15px;
    padding: 20px;
    border-radius:10px;
}
.box2{
    height: 80px;
    border: 2px color #929AA5;
    background-color: #f5f5f5;
    margin: 15px;
    border-radius:10px;
    font-size: 39;
}
.box3{
    height: 80px;
    border: 2px  color #929AA5;
    background-color: #f5f5f5 ;
    margin: 15px;
    border-radius:10px;
}
.box4{
    height: 80px;
    border: 2px color #929AA5;
    background-color: #f5f5f5 ;
    border-radius:10px;
    margin: 15px;
}
 .boton {
    padding-left: 101px;
    margin-top: 20px;
 }
 .btn-y{
    border-radius: 0px;
 }
 .quitar-decor{

    text-decoration: none !important;
    cursor: pointer;
    
    
   
 }

 .quitar-decor1{
    
        text-decoration: none !important;
        cursor: pointer;
        float: left;

       
     }
 .link2{
    
    float: right;
    cursor: pointer;
 }
 .link1{
     float: left;
     cursor: pointer;
 }
 //parrafo informativo
 .inf{
    font-size: 10pt; 
    margin-top: 10px;
    color: grey;

 }
 // botones 
 .btne{
     margin-top: 22px;
     font-size: 24pt;
     color: #212d78;
     margin-left: 15px;

 }
 .ico{
     color: grey;
 }